:80 {
    # Backend
    handle /graphql {
        reverse_proxy backend:8081
    }

    # Adminer
    handle /adminer/* {
        reverse_proxy adminer:8080
    }

    # Frontend
    handle {
        reverse_proxy frontend:3000
    }
}